    
/*General*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: gray;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
} 

/*App Container*/
.App-container {
    left: 0;
    top : 0;
    height: 100vh;
}

/*Header*/
.header-container {
    box-sizing: border-box;
    margin: 0;
    padding: 30px;
    color : white;
    position: relative;
    width : 100%;
    height : 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    	
    &:before {
        content: '';
        position: absolute;
		top : 0;
		left : 0;
		bottom : 0;
		right : 0;
        background-image: linear-gradient(to right, red, rgb(255, 115, 0) );
        opacity: 0.6;
    }

    nav {
        
        z-index: 100; 
        display: flex;
        justify-content: space-between;

        img {
            text-align: left;
        }

        ul{
            display: flex;
            list-style-type: none;
            justify-content: space-around;

            li {
                padding : 0 15px ;

                a {
                    color : lightgray;
                    text-decoration : none;
                }

                a.active {
                    color : white;
                }
            }
        }

        div {
            display: none;
        }
    }

    h1 {
        z-index: 100; 
        margin: 0 auto; 
        text-align: center;
    }

    div {
        z-index: 100;
        margin: 0 auto;
        text-align: center;

        button {
            font-size: 2em;
            width : 50px;
            height: 50px;
            color : tomato;
            border-radius: 50px;
            border : 1px solid #eee;
            background-color: white;
        }
    }
}

/*Article*/

.App-article {
    display : flex;
    max-width: 1440px;
    padding : 50px 150px; 
    background-color: white;

    div.title {
        font-weight: bold;
        color : rgb(59, 59, 59);
        font-size: 1.4em;
        width : 35%;
        flex-shrink: 0;
        box-sizing: border-box;
    }
    div.content {
        padding-top: 15px;
        color : gray;
        font-size: 1.05em;
        line-height: 1.6em;
        width : 65%
    }
}

/*Job Card*/

.Job {
    background-color: white;
    border : 1px solid #eee; 
    width : 100%;
    border-radius: 5px;
    box-shadow: 1px 3px 15px 5px rgba(0,0,0,0.1);
    display : flex;
    justify-content: space-between;
    padding : 0 15px 15px 20px;
    margin-bottom: 25px;
    align-items: center;
    box-sizing: border-box; 

    div {

        h3 { 
            color : rgb(59, 59, 59);
            margin-bottom: -18px;
        }

        p {
            font-size: 0.95em;
        }
    }

    button {
        height: 40px;
        width: 120px;
        background-color: rgb(255, 134, 21);
        border : none;
        border-radius: 5px;
        color:white;
    }
}

/*Footer*/

.App-footer {
    font-size: 0.9em;
    color : gray;
    padding : 50px 150px;
    background-color: white;
    display : flex;
    flex-direction: column;    
    
    hr {
        width: 100%;
        border : none;
        border-top : 1px solid #eee;
    }

    p {
        i {
            color : red; 
        }

        br {
            display: none;
        }
    }

    div {
        display:flex;
        justify-content: space-between;
        align-items: center; 

        div {
            width : 50%;
            display: flex;
            justify-content: flex-end;

            span {
                padding : 5px;
            }

            a {
                text-decoration: none;
                color: inherit;
                padding : 5px;

                i {
                    font-size: 2em;
                }
            }
        }
    }
}

/*Toggle Drawer*/

.Toggle-drawer {
    display: none;
}







/*---mobile---*/

@media (max-width: 900px) {

    .header-container {
        padding : 10px;

        &:before {
            background-image: linear-gradient(to bottom, red, rgb(255, 115, 0) );
        
        }
        nav {  
            align-items: center;          

            img {
                width: 110px;
            }

            ul {
                display: none;
            }

            div {
                margin-right: 0 ;
                width: 35px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                box-sizing: border-box;
                cursor: pointer;

                span {
                    width: 90%;
                    height: 3px;
                    background-color: white;
                }
            }
        }
    }

    .App-article {
        flex-direction: column;
        padding : 30px 15px;

        div.title {
            font-size: 1em;
            width : 100%
        }
        div.content {
            padding-top: 0;
            width : 100%

        }
    }

    .Job {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding : 0 10px 15px 15px;
        margin-bottom: 13px;
        
        button {
            height: 34px;
        }
    }

    .App-footer {
        padding : 30px 15px;
        text-align: center;

        div {
            flex-direction: column;

            p {
                br {
                    display: inline-block;
                }
            }

            div {
                width: 100%;
                flex-direction: row;
                justify-content: center;

                a{
                    i {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}
