/*General*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  background-color: gray;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif; }

/*App Container*/
.App-container {
  left: 0;
  top: 0;
  height: 100vh; }

/*Header*/
.header-container {
  box-sizing: border-box;
  margin: 0;
  padding: 30px;
  color: white;
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .header-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to right, red, #ff7300);
    opacity: 0.6; }
  .header-container nav {
    z-index: 100;
    display: flex;
    justify-content: space-between; }
    .header-container nav img {
      text-align: left; }
    .header-container nav ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around; }
      .header-container nav ul li {
        padding: 0 15px; }
        .header-container nav ul li a {
          color: lightgray;
          text-decoration: none; }
        .header-container nav ul li a.active {
          color: white; }
    .header-container nav div {
      display: none; }
  .header-container h1 {
    z-index: 100;
    margin: 0 auto;
    text-align: center; }
  .header-container div {
    z-index: 100;
    margin: 0 auto;
    text-align: center; }
    .header-container div button {
      font-size: 2em;
      width: 50px;
      height: 50px;
      color: tomato;
      border-radius: 50px;
      border: 1px solid #eee;
      background-color: white; }

/*Article*/
.App-article {
  display: flex;
  padding: 50px 150px;
  background-color: white; }
  .App-article div.title {
    font-weight: bold;
    color: #3b3b3b;
    font-size: 1.4em;
    width: 35%;
    flex-shrink: 0;
    box-sizing: border-box; }
  .App-article div.content {
    padding-top: 15px;
    color: gray;
    font-size: 1.05em;
    line-height: 1.6em;
    width: 65%; }

/*Job Card*/
.Job {
  background-color: white;
  border: 1px solid #eee;
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px 20px;
  margin-bottom: 25px;
  align-items: center;
  box-sizing: border-box; }
  .Job div h3 {
    color: #3b3b3b;
    margin-bottom: -18px; }
  .Job div p {
    font-size: 0.95em; }
  .Job button {
    height: 40px;
    width: 120px;
    background-color: #ff8615;
    border: none;
    border-radius: 5px;
    color: white; }

/*Footer*/
.App-footer {
  font-size: 0.9em;
  color: gray;
  padding: 50px 150px;
  background-color: white;
  display: flex;
  flex-direction: column; }
  .App-footer hr {
    width: 100%;
    border: none;
    border-top: 1px solid #eee; }
  .App-footer p i {
    color: red; }
  .App-footer p br {
    display: none; }
  .App-footer div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .App-footer div div {
      width: 50%;
      display: flex;
      justify-content: flex-end; }
      .App-footer div div span {
        padding: 5px; }
      .App-footer div div a {
        text-decoration: none;
        color: inherit;
        padding: 5px; }
        .App-footer div div a i {
          font-size: 2em; }

/*Toggle Drawer*/
.Toggle-drawer {
  display: none; }

/*---mobile---*/
@media (max-width: 900px) {
  .header-container {
    padding: 10px; }
    .header-container:before {
      background-image: linear-gradient(to bottom, red, #ff7300); }
    .header-container nav {
      align-items: center; }
      .header-container nav img {
        width: 110px; }
      .header-container nav ul {
        display: none; }
      .header-container nav div {
        margin-right: 0;
        width: 35px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        box-sizing: border-box;
        cursor: pointer; }
        .header-container nav div span {
          width: 90%;
          height: 3px;
          background-color: white; }
  .App-article {
    flex-direction: column;
    padding: 30px 15px; }
    .App-article div.title {
      font-size: 1em;
      width: 100%; }
    .App-article div.content {
      padding-top: 0;
      width: 100%; }
  .Job {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 10px 15px 15px;
    margin-bottom: 13px; }
    .Job button {
      height: 34px; }
  .App-footer {
    padding: 30px 15px;
    text-align: center; }
    .App-footer div {
      flex-direction: column; }
      .App-footer div p br {
        display: inline-block; }
      .App-footer div div {
        width: 100%;
        flex-direction: row;
        justify-content: center; }
        .App-footer div div a i {
          font-size: 1em; } }
